.home-container{
    display: flex;
    flex-direction: column;

    /*Vertical centering*/
    position: absolute;
    top: 35%;
    transform: translate(0, -50%);
    padding: 10px;

    /*Horizontal centering*/
    left: 50%;
    transform: translate(-50%, 0);

}

#home-name{
    font-size: 9em;
    font-weight: bold;
    text-align: left;
}


#home-name {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: 1px solid ; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .10em; 
    animation: 
      typing 1s steps(50, end),
      blink-caret .5s step-end infinite;
  }

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #15171a; }
  }