#skills-icons {
  font-size: 4em;
}

#skills-flex {
  display: flex;
  flex-direction: row;
}

#skills-text {
  padding-top: 2%;
  width: 50%;
  font-size: 1.5em;
  margin-right: 2%;
}

#skills-icons {
  width: 50%;
}

@media screen and (max-width: 768px) {
  #skills-flex {
    flex-direction: column;
  }

  #skills-text {
    width: 100%;
  }

  #skills-icons {
    width: 100%;
  }
    
}

@media screen and (max-width: 768px){
  #skills-icons {
    padding-left: 4%;
    padding-right: 4%;
    align-items: center;
    font-size: 3.5em;
    flex-wrap: wrap;
  }
  
  #skills-text {
    font-size: 1.4em;
    text-align: center;
    margin-bottom: 8%;
  }
  
}
