html{
    background-color: #15171a;
    color:white;
    font-size: 14px;
}
.container{
    padding-left: 11%;
    padding-right: 11%;
    font-family : apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
.navbar-list, li, a{
    list-style-type: none; /* Removes the bullet points from lists */
    text-decoration: none; /* Removes the underline from links */
    color: inherit; /* Inherits the color from the parent element or sets your desired color */
   /* inherit makes it from purple to white */ 
}

main{
    padding-top: 7.5vh; /* Adjust this value based on the height of your header */
}
#about, #skills, #projects, #experiences, #contact, #certificates{
    padding-top: 60px; /* Ensure this matches the header height */
}

/* #projects{
    padding-bottom: 30%; /* Change this if experience overlapping with projects 
}*/



h1{
    font-family: apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    /* Write font weight in relatve terms */
    font-size: 2.5em;
    text-decoration: underline;
    text-align: center;
    margin-bottom: 5%;
}