html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

#about {
  min-height: 100vh;
}

#home {
  min-height: 100vh;
}

#skills {
  min-height: 100vh;
}

#projects {
  min-height: 100vh;
}

#experiences {
  min-height: 100vh;
}

#contact {
  min-height: 100vh;
}

